/* Header.css */
.logo {
  width: 200px; /* Adjust width as needed */
  height: auto; /* Height scales proportionally */ 
}

.navbar {
  align-items: center !important;
  justify-content: center !important;
  margin: 0px 80px 0px 80px !important;

}

.nav-link {
  margin-right: 15px; 
  font-size: 1.5rem !important; 
  font-weight: bold !important;
  color: #103059 !important;
}

.get-started-button {
  margin-left: 20px !important; 
  background-color: #103059 !important; 
  color: white !important; 
  padding: 10px 20px !important; 
  border: none !important; 
  border-radius: 40px !important; 
  font-weight: bold !important; 
  cursor: pointer !important; 
  display: inline-bloc !important;
  text-align: center !important; 
  text-decoration: none !important; 
}
