/* Footer.css */

/* Main container styles */
.footer-container {
    padding: 40px;
    background-color: #103059; /* Light grey background */
    text-align: center;
    color: #f8f9fa;
  }
  
  .footer-container h1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  /* Statistics container */
  .footer-stats {
    display: flex;
    justify-content: center;
    gap: 50px; /* Space between each stat block */
  }
  
  /* Individual stat block */
  .stat-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid #f8f9fa 4px;
    border-radius: 50px;
  }
  
  .stat-block p {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0px 25px;
  }
  
  .stat-block img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    border-radius: 40px;
  }
  
  /* Responsive design */
  @media (max-width: 786px) {
    .footer-container {
      padding: 20px;
    }
  
    .footer-container h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    .footer-stats {
      flex-direction: column;
      gap: 20px; 
      margin: auto;
    }

    .stat-block{
        margin: auto;
    }
  
    .stat-block p {
      font-size: 1.5rem;
    }
  
    .stat-block img {
      width: 40px; /* Adjust size for smaller screens */
    }
  }
  